:root {
    --main-dark-color: #8E518D;
    --white-color: #FFFFFF;
    --violet-color: #BE78D3;
    --pink-color: #F79AD3;
    --light-pink-color: #F7C7DB;
    --latte-color: #D7C0D0;
}

.home {
    /* background-image: url(https://images.pexels.com/photos/1652312/pexels-photo-1652312.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
        
        /* https://images.unsplash.com/photo-1500839941678-aae14dbfae9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2840&q=80); */
        /* https://images.pexels.com/photos/922471/pexels-photo-922471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
        /*  */
    height: 100vh; /* 100% view hight*/
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home--wrapper {
    border: 8px solid var(--white-color);
    text-transform: uppercase; /*wszystkie litery z wielkiej */
    padding: 16px;
    margin: 8px;
    max-width: 720px;
}

.home--content {
    color: var(--white-color);
}