section {
    padding: 1em;
}

.fav_item {
    padding: 16px 32px;
    justify-items: flex-start;
    display: flex;
    /* background-color: lavender; */
    border-bottom: 2px solid white;

}

p {
    color: black;
    margin-right: 2em;
}

button {
    background-color: rgb(252, 217, 255);
    border: 3px solid rgba(185, 255, 244, 0.783);
    border-radius: 8px;
}

